* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  max-width: 100%;
  margin: auto;
  
}

/* Navigation Bar Styles */
#header {
  background: #4796DF;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;

}

.logo img {
  height: 60px;
  margin-left: 40px;
  display: flex;
  justify-content: left;
}

#nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

#nav ul li {
  margin: 0 15px;
}

#nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 5px 10px;
}

#nav ul li a:hover {
  background: #fff;
  color: #4796DF;
  border-radius: 5px;
}

/* Navigation Bar end */
.page-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f6ff;
}

.form-container {
  background: #eaf0ff;
  padding: 40px;
  border-radius: 8px;
  width: 100%;
  max-width: 900px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: #111827;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: 500;
}

label span {
  color: red;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  background: #4796DF;
  color: white;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-btn:hover {
  background-color: #fff;
  color: #4796DF;
  border: 2px solid #4796DF;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}
/* Footer Section Start */
.footer {
  background-color: #4796DF;
  color: #fff;
  padding: 60px 20px 30px;
  
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.footer-col {
  flex: 1 1 240px;
  margin: 20px;
}

.footer-col h3 {
  margin-bottom: 18px;
  font-size: 20px;
  border-bottom: 2px solid #eefff8;
  display: inline-block;
  padding-bottom: 5px;
}



.footer-col ul li {
  margin-bottom: 12px;
  font-size: 15px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.footer-col ul li:hover {
  color: #032847;
}

.footer-col p {
  font-size: 14px;
  margin: 10px 0;
  line-height: 1.6;
}





.icon-img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
}

.newsletter {
  display: flex;
  margin-top: 12px;
}

.newsletter input {
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  width: 70%;
  font-size: 14px;
}

.newsletter button {
  
  background-color: #082846;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.social-icons {
  margin-top: 15px;
}

.social-img {
  width: 30px;
  height: 30px;
  margin-right: 12px;
  border-radius: 50%;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.social-img:hover {
  transform: scale(1.1);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ffffff30;
  padding-top: 20px;
  max-width: 1200px;
  margin: 30px auto 0;
  color: #e0e0e0;
  font-size: 13px;
  flex-wrap: wrap;
}

.footer-bottom a {
  color: #e0e0e0;
  text-decoration: none;
  margin-left: 12px;
  transition: color 0.3s ease;
}

.footer-bottom a:hover {
  color: #ffffff;
}


/* Footer Styles End */
