*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    max-width: 100%;
    margin: auto;
}

/* Navigation Bar Styles */
#header {
    background: #4796DF;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    
}

.logo img {
    height: 60px;
    margin-left:40px;
    display: flex;
    justify-content:left;
}
#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
#nav ul li {
    margin: 0 15px;
}
#nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
}
#nav ul li a:hover {
    background: #fff;
    color:#4796DF;
    border-radius: 5px;
}

/* Navigation Bar end */

/* Search Section Start */
.doctor_banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #18ACD5;
    height: 450px;
    color: white;
}
.doctor_banner h1{
    padding: 1rem;
    font-size: 3rem;
}
.doctor_banner h3{
    font-size: 1.5rem;
}
.search_bar{
    border: 5px solid rgb(179, 245, 245);
    border-radius: 8px;
    padding: 1.5px;
}
.search_bar input{
    width: 800px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search_bar button{
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: white;
    float: right;
    border: 1px solid #4796DF;
    cursor: pointer;
    background-color: #4796DF;
}
.search_bar button:hover{
    background-color: white;
    color: #4796DF;
}

/* Search Section End */

/* Doctor Banner Section Start */
.doctor_banner_section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    height: 35rem;
    background-color: #D7FAF4;
}
.left_banner {
    justify-content: center;
    padding: 20px;
}
.left_banner h1{
    font-size: 4rem;
    color: #4796DF;
    margin-bottom: 2rem;
}
.left_banner ul li{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    color: black;
    list-style-type: '➡️';
    padding-inline-start: 1ch;
}
.right_banner img{
    width: 30rem;
    height: 30rem;
    border-radius: 10px;
}

